<h1>COMMENTS THIS TIME BRAH</h1>
<hr>
<ol><%@post_list.reverse.each do |post|%>
  <li><a href="http://localhost:3001/posts/<%=post.id%>"><%=post.title%></a>Posted <%=post.timestamp%></li>
  <ol><%post.comments.each do |comment|%>
    <hr>
    <a href="http://localhost:3001/comments/<%=comment.id%>"><li></a><%=comment.body%>
      <hr>Posted <%=comment.timestamp%></li>
      <hr>
    <%end%>
    <hr><hr>
  </ol>
  <%end%>
</ol>
<hr>
<hr>
